{% extends 'base.html' %}

{% block nav_links %}
<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
	<li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
	<li><a href="/chat" class="nav-link px-2">Chat</a></li>
	<li><a href="/itinerary" class="nav-link px-2">Itineraries</a></li>
	<li><a href="/about" class="nav-link px-2">About</a></li>
</ul>
{% endblock %}

{% block header_buttons %}
	{% if not logged_in %}
		<button type="button" onclick="login()" class="btn btn-outline-primary me-2">Login</button>
   	<button type="button" onclick="signup()" class="btn btn-primary">Sign-up</button>
	{% else %}
		<span>Welcome, {{ name }}</span>
		<button type="button" onclick="logout()" style="margin-left: 5px" class="btn btn-outline-primary me-2">Logout</button>
	{% endif %}
{% endblock %}

{% block content %}
   
	<h1>{% block title %} Itinerary Place Forecast {% endblock %}</h1>
	
	{% for message in get_flashed_messages() %}
		<div class="alert alert-danger mb-3" role="alert">
			{{ message }}
	 	</div>
	{% endfor %}

	<div class="row mt-1">
	{% for w in weather %}
		<div class="col-3 mt-2">
			<div class="card" style="width: 18rem;">
				<img src="{{ w.icon }}" width="100" height="100" alt="{{ w.desc }}">
				<div class="card-body">
					<span>{{ w.city }}</span>
				<h6 class="card-title">{{ w.temp }} <sup>o</sup>C</h6>
				<p class="card-text">{{ w.day }} {{ w.datetime }}</p>
				<h6 class="card-title">Weather</h6>
				<p class="card-text">{{ w.main }}</p>
				<h6 class="card-title">Description</h6>
				<p class="card-text">{{ w.desc }}</p>
				<h6 class="card-title">Min/Max</h6>
				<p class="card-text">{{ w.min }}/{{ w.max }}</p>
				<h6 class="card-title">Feels Like</h6>
				<p class="card-text">{{ w.feels_like }} <sup>o</sup>C</p>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>

{% endblock %}
